<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>

  <%= @user.avatar_path %>
</p>

<%= image_tag @user.avatar_path.url if @user.avatar_path? %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
